{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}

{{ parent() }}

<style type="text/css">
   .divider-text {
   position: relative;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
   }
   .divider-text span {
   padding: 7px;
   font-size: 12px;
   position: relative;
   z-index: 2;
   }
   .divider-text:after {
   content: "";
   position: absolute;
   width: 100%;
   border-bottom: 1px solid #ddd;
   top: 55%;
   left: 0;
   z-index: 1;
   }
   .btn-facebook {
   background-color: #405D9D;
   color: #fff;
   }
   .btn-twitter {
   background-color: #42AEEC;
   color: #fff;
   }
</style>
 <script type="text/javascript">

         function checkEmail(email){
             $.ajax({
                 method:"POST",
                 url: "http://vca.demoproject.aum/Controller/UserRegisterController.php",
                 data:{emailId:email, type:'emailcheck'},
                 success: function(data){

                     if(data=="0"){
                         $('#emailcheck').html('Email is  Not Exists');
                         $('#emailcheck').show();

                     }

                 }
             });
         }
         function Validation(){

                     var stat=1;
                     var email=$('#email').val();

                     $('#emailcheck').hide();
                     $('#email').css('border-color', 'green');

                     if(email==""){
                         $('#email').css('border-color', 'red');
                         $("#emailcheck").html("***Email is missing");
                         $('#emailcheck').show();
                         stat=0;
                     }else{
                         var regEmail=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/g;
                         if(!regEmail.test(email)){
                             $('#email').css('border-color', 'red');
                             $("#emailcheck").html("***Please enter a valid e-mail address");
                             $('#emailcheck').show();
                             stat=0;
                         }else {
                             stat=0;
                             $.ajax({
                                 method:"POST",
                                 url: "http://vca.demoproject.aum/Controller/UserRegisterController.php",
                                 data:{emailId:email, type:'emailcheck'},
                                 success: function(data){

                                     if(data=="0"){
                                         stat=1;
                                         $('#emailcheck').html('Email is  Not Exists');
                                         $('#emailcheck').show();

                                    }

                                 }
                             });

                         }

                     }
                     if(stat==0){
                         return false;
                     }

         }
      </script>
{% endblock %}

{% block container %}

<hr>
<h5 id="emailcheck" style="color: red; display:none"></h5>
<br>
<p class="text-center">VCA Demo Project</p>
<hr>
<div class="card bg-light">
   <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Forget Account  Password</h4>

       <form onsubmit="return Validation()">
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Email address" id="email" type="text">
         </div>
         <!-- form-group// -->
         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Submit</button>
         </div>
         <!-- form-group// -->
         <p class="text-center">Have an  no account? <a href="/views/users/user-registration.php">Create New Account</a></p>
         <p class="text-center">Have an  account? <a href="/views/users/user-login.php">Login</a></p>
      </form>
   </article>
</div>
<!-- card.// -->
{% endblock %}
{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}
{% block footer %}
{% endblock %}
