<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            {% block title %}{% endblock %}


        {% endblock %}

    </head>
    <body>
        <div class="tableset" style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
        {% block tableset %}

        {% endblock %}
        </div>
        <div class="container">{% block container %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}

            {% endblock %}
        </div>
    </body>
</html>
