<a href="../views/registration.php">NewRegistration</a>|
<a href="../views/index.php">ListUsers</a>|
<a href="../views/webtracker_index.php">Product List</a>|
<a href="../views/addtask.php">AddProduct|
<a href="../views/user-logout.php">Logout</a>
