    {% extends "master_layout.html" %}

    {% block title %}{% endblock %}

    {% block head %}
            {{ parent() }}

        <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
        </script>

        <!-- DataTables CSS -->
        <link rel="stylesheet"
                href=
        "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

        <!-- DataTables JS -->
        <script src=
        "https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
        </script>

    {% endblock %}

    {% block tableset %}
        <h1 style="color: green;">
            VCA Demo Porject
        </h1>

        <!--include the menu list in header form menu html.twig file -->
        {% include "menu.html.twig" %}

        <!--<h3>DataTables order Option</h3> -->

        <!-- HTML table with random data -->

        <table id="tableID" class="display nowrap">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last_Name</th>
                <th>Email</th>
                <th>Contactno</th>
                <th>Gender</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                <td>test123</td>
                <td>demo123</td>
                <td>vi@gmail.com</td>
                <td>5356252541</td>
                <td>male</td>
                <td><a href="">View|Edit|delete|Active|InActive</a></td>

                </tr>

            </tbody>
        </table>
    <script>
    // Initialize the DataTable
	$(document).ready(function () {
	$('#tableID').DataTable({

		// Set the 3rd column of the
		// DataTable to ascending order
		order: [[2, 'asc']]
		});
	});
    </script>
    {% endblock %}


    {% block left_teaser %}
        <h1>Index1</h1>

    {% endblock %}

{% block footer %}

{% endblock %}
