{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}

    <script src="http://vca.demoproject.aum/public/js/role.js"></script>
    {% set menuitem = 'users/menu.html.twig' %}
    {% include menuitem %}
{% endblock %}

{% block tableset %}
    <a href="role-index.php" id="create" target="_blank">Back</a>
    <br>
    {% if server_error|length >= 1 %}
        {% for error in server_error %}
            <p style="color: red">{{error}}</h5> </p>
        {% endfor %}
    {% endif %}
    <h5 id="status_messge" style="color: red; display:none"></h5>
        <h5 id="name_messge" style="color: red; display:none"></h5>

<form name="insert" action="../../Controller/role/RoleController.php"  onsubmit="return Validation()"  method="post" enctype="multipart/form-data" id="myForm">
<table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">Role Name :</th>
        <td width="74%"><input type="text" name="role_name" id="name" value="" class="form-control"  /></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">Role Code:</th>
        <td width="74%"><input type="number" name="status_code" id="status_code" value="" class="form-control"  /></td>
    </tr>

    <tr>
        <th height="60" scope="row">Role Status :</th>
        <td><select name="role_status"  id="status" class="form-control ">
            <option value="">Select</option>
            <option value="0" selected>Active</option>
            <option value="1" >InActive</option>
        </select> </td>
    </tr>
    <tr>
        <th height="60" scope="row" >Role Description :</th>
        <td><textarea name= role_description class="form-control" >
</textarea></td>
    </tr><!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
        <td><input type="submit" value="Submit" name="submit" class="btn-primary" /></td>
    </tr>
</table>
</form>
<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
