{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ASPL HRM Registration | DEMO</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    {%  if(user_role==1) %}
    {% set menuitem = 'users/menu.html.twig' %}
    {% else %}
        {% set menuitem = 'users/admin-menu.html.twig' %}
    {%  endif %}

    {% include menuitem %}
{% endblock %}

{% block tableset %}
    <a href="category-index.php" id="create" target="_blank">Back</a>
<form name="insert" action="../../Controller/Category/CategoryController.php" method="post" enctype="multipart/form-data" id="myForm">
<table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">Category Name :</th>
        <input type="hidden" name="category_id" value="{{id}}" class="form-control" required  />
        <td width="74%"><input type="text" name="category_name" value="{{name}}" class="form-control" required  readonly /></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">Category Image
        <td width="74%"><input type="file" name="category_img" value="" class="form-control" readonly /></td>
    </tr>

    <tr>
        <th height="60" scope="row">Category Status :</th>
        <td><select name="category_status" class="form-control " readonly>
            <option value="">Select</option>
            {% if(status==1) %}
            <option value="0">InActive</option>
            <option value="1" selected>Active</option>
            {% else %}
            <option value="0" selected>InActive</option>
            <option value="1">Active</option>
            {% endif %}
        </select> </td>
    </tr>
    <tr>
        <th height="60" scope="row" >Category Description :</th>
        <td><textarea name= category_description class="form-control"  readonly>{{description}}
</textarea></td>
    </tr><!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
        <td></td>
    </tr>
</table>
</form>
<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
