{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ASPL HRM Registration | DEMO</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: darkblue;
            color: white;
        }
        #create:link, #create:visited {
            background-color: green;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        #create:hover, #create:active {
            background-color: green;
        }
    </style>
    <script>
        function Validation(){

            stat=1;
            var name=$('#name').val();
            var status=$('#status').val();

            $('#name_messge').hide();
            $('#status_messge').hide();

            $('#name').css('border-color', 'green');
            $('#status').css('border-color', 'green');;


            if(name==""){
                $('#name').css('border-color', 'red');
                $("#name_messge").html("***Name is missing");
                $('#name_messge').show();
                stat=0;

            }

            if(status==""){
                $('#status').css('border-color', 'red');
                $("#status_messge").html("***Status is missing");
                $('#status_messge').show();
                stat=0;

            }

            if(stat==0){
                console.log('aaa'+stat);
                return false;
            }

        }
    </script>
    <div class="" style="margin-left: 5%;margin-right: 5%;">
        <div class="topnav">
            <a class="active" href="../users/user-dashboard.php">Home</a>
            <a class="3" href="../users/user-index.php">Users</a>
            <a href="../category/category-index.php">Category</a>
            <a href="user-index.php">Products</a>
            <a href="user-index.php">Contact</a>
            <a href="user-logout.php" style="padding-left: 70%;">   Logout</a>
        </div>
    </div>
</head>
{% endblock %}

{% block tableset %}
    <h5 id="status_messge" style="color: red; display:none"></h5>
        <h5 id="name_messge" style="color: red; display:none"></h5>

<form name="insert" action="../../Controller/Category/CategoryController.php"  onsubmit="return Validation()"  method="post" enctype="multipart/form-data" id="myForm">
<table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">Category Name :</th>
        <td width="74%"><input type="text" name="category_name" id="name" value="" class="form-control"  /></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">Category Image
        <td width="74%"><input type="file" name="category_img" value="" class="form-control" /></td>
    </tr>

    <tr>
        <th height="60" scope="row">Category Status :</th>
        <td><select name="category_status"  id="status" class="form-control ">
            <option value="">Select</option>
            <option value="0" selected>Active</option>
            <option value="1" >InActive</option>
        </select> </td>
    </tr>
    <tr>
        <th height="60" scope="row" >Category Description :</th>
        <td><textarea name= category_description class="form-control" >
</textarea></td>
    </tr><!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
        <td><input type="submit" value="Submit" name="submit" class="btn-primary" /></td>
    </tr>
</table>
</form>
<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
