{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ASPL HRM Registration | DEMO</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>
{% endblock %}

{% block tableset %}

<table width="100%"  border="0">
    <tr>
        <th width="26%" height="60" scope="row">Task Name :</th>
        <td width="74%"><input type="text" name="task_names" value="<?php echo $row['task_names'] ?>" class="form-control" required  readonly/></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">Number Task :</th>
        <td width="74%"><input type="Number" name="number_task" value="<?php echo $row['number_task'] ?>" class="form-control" required readonly/></td>
    </tr>

    <tr>
        <th height="60" scope="row">Task Start Date :</th>
        <td><input type="date" name="task_start_date" value="<?php echo $row['task_start_date'] ?>" class="form-control" required readonly/></td>
    </tr>
    <tr>
        <th height="60" scope="row">Task End Date :</th>
        <td><input type="date" name="task_end_date" value="<?php echo $row['task_end_date'] ?>" class="form-control" required readonly/></td>
    </tr>
    <tr>
        <th height="60" scope="row">Task Start Time :</th>
        <td><input type="datetime-local" name="task_start_time" value="<?php echo $row['task_start_time'] ?>" class="form-control"  readonly/></td>
    </tr>
    <tr>
        <th height="60" scope="row">Task End Time :</th>
        <td><input type="datetime-local" name="task_end_time" value="<?php echo $row['task_end_time'] ?>" class="form-control"  readonly/></td>
    </tr>
    <tr>
        <th width="26%" height="60" scope="row">Complated Task :</th>
        <td width="74%"><input type="Number" name="complated_task" value="<?php echo $row['complated_task'] ?>" class="form-control" required readonly/></td>
    </tr>
    <tr>
        <th height="60" scope="row">Task Status :</th>
        <td><select name="task_status" class="form-control " readonly>
            <option value="">Select</option>
            <option value="Done">Done</option>
            <option value="Pending" selected>Pending</option>
            <option value="Proccssing">Proccssing</option>
        </select> </td>
    </tr>
    <tr>
        <th height="60" scope="row" >Task Description :</th>
        <td><textarea name="task_description" class="form-control" readonly><?php echo $row['task_description'] ?>
	</textarea></td>
    </tr>
    <!--  <tr>
        <th height="60" scope="row">Hobbies :</th>
        <td><input type="checkbox" name="hobbies" value="Read" required /> Read  &nbsp;
        <input type="checkbox" name="hobbies" value="traveling" required /> Traveling</td>
      </tr>-->
    <tr>
        <th height="60" scope="row">&nbsp;</th>
        <td><input type="submit" value="Submit" name="submit" class="btn-primary" /></td>
    </tr>
</table>

<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
