<a href="../users/user-registration.php">NewRegistration</a>|
<a href="../views/index.php">ListUsers</a>|
<a href="../views/webtracker_index.php">Product List</a>|
<a href="../views/addtask.php">AddProduct|
    <a href="../users/user-logout.php">Logout</a>