{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}

{{ parent() }}

    <script src="http://vca.demoproject.aum/public/js/forget-pass.js"></script>

{% endblock %}

{% block container %}

    {% if server_error|length >= 1 %}
        {% for error in server_error %}
            <p style="color: red">{{error}}</h5> </p>
        {% endfor %}
    {% endif %}

<hr>
<h5 id="emailcheck" style="color: red; display:none"></h5>
<br>
<p class="text-center">VCA Demo Project</p>
<hr>
<div class="card bg-light">
   <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Forget Account  Password</h4>

       <form action="../../Controller/UserForgetPassowrdController.php"  method="post"  onsubmit="return Validation()">
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
             <input name="forgetpassword" class="form-control"  value="1" placeholder="Email address"  type="hidden">
            <input name="email" class="form-control" placeholder="Email address" id="email" type="text">
         </div>
         <!-- form-group// -->
         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Submit</button>
         </div>
         <!-- form-group// -->
         <p class="text-center">Have an  no account? <a href="/views/users/user-registration.php">Create New Account</a></p>
         <p class="text-center">Have an  account? <a href="/views/users/user-login.php">Login</a></p>
      </form>
   </article>
</div>
<!-- card.// -->
{% endblock %}
{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}
{% block footer %}
{% endblock %}
