<p class="text-center">VCA Demo Project</p>
<div class="">
    <a href="user-registration.php" id="create" class="btn btn-primary"  style="width:10%" >Register</a>
    <a href="user-login.php" id="create" class="btn btn-primary"  style="width:10%" >Login</a>
    <a href="user-products.php" id="create" class="btn btn-primary"  style="width:10%" >Products</a>
</div>
<hr>
