{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}

   <script src="http://vca.demoproject.aum/public/js/login.js"></script>

{% endblock %}
{% block container %}
<hr>
   {%  if(is_error==1) %}
     <p style="color: red">{{ message }}</p>
   {%  endif %}
   {%  if(is_error==0) %}
      <p style="color: green">{{ message }}</p>
   {%  endif %}
<h5 id="emailcheck" style="color: red; display:none"></h5>
<h5 id="passwordcheck" style="color: red; display:none"></h5>
<br>
   {% if(login_status == 1) %}
      <a href="user-dashboard.php" id="create" target="_blank">Dashboard</a>
   {% endif %}

   {% set menuitem = 'users/fornt-menu.html.twig' %}
   {% include menuitem %}
<hr>
<div class="card bg-light">
   <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center"> Account Login</h4>
      <form action="../../../Controller/UserLoginController.php"  method="post" onsubmit="return Validation()">
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Email address" id="email" type="text">
         </div>
         <!-- form-group// -->
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" placeholder="Enter password" id="password" type="password">
         </div>
         <!-- form-group// -->
         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login</button>
         </div>
         <!-- form-group// -->
         <p class="text-center">Have an no account? <a href="/views/users/user-registration.php">Create New Account</a></p>
         <p class="text-center">Forget your account Password? <a href="/views/users/user-forgot-password.php">Forgot Password</a></p>
      </form>
      <script type="text/javascript">

      </script>
   </article>
</div>
<!-- card.// -->
{% endblock %}
{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}
{% block footer %}
{% endblock %}
