<html>
<head>
    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- DataTables CSS -->
    <link rel="stylesheet"
          href=
          "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src=
            "https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>
</head>
<body>
<h1 style="color: green;">
    ASPL HRM Registration
</h1>
{{ message }}

<br>
<!-- <h3>DataTables order Option</h3> -->
<a href="../views/registration.php">NewRegistration</a>|
<a href="../views/index.php">EmployeeList</a>|
<a href="../views/dailyentry.php">DailyCheckOut</a>|
<a href="../views/checkinoutlist.php">CheckInOutList</a>|
<a href="../views/webtracker_index.php">WebTracker</a>|
<a href="../views/addtask.php">AddTask</a>|
<a href="../views/logout.php">Logout</a>
<!-- HTML table with random data -->

<table id="tableID" class="display nowrap">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last_Name</th>
        <th>Email</th>
        <th>Contactno</th>
        <th>Gender</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>


    </tbody>
</table>
<script>

    // Initialize the DataTable
    $(document).ready(function () {
        $('#tableID').DataTable({

            // Set the 3rd column of the
            // DataTable to ascending order
            order: [[2, 'asc']]
        });
    });
</script>
</body>
</html>

