{% extends "master_layout.html" %}

{% block title %}{% endblock %}

{% block head %}
{{ parent() }}
    <script src="http://vca.demoproject.aum/public/js/registration.js"></script>
    <link href="http://vca.demoproject.aum/public/css/registration.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block container %}



        <h5 id="usercheck" style="color: red; display:none">
        </h5>
        <h5 id="emailcheck" style="color: red; display:none">
        </h5>
        <h5 id="passwordcheck" style="color: red; display:none">
        </h5>
        <h5 id="cpasswordcheck" style="color: red; display:none">
        </h5>

        <hr>
        <br>
        <p class="text-center">VCA Demo Project</p>
        <hr>

        <div id="pswd_info">
           <h4>Password must meet the following requirements:</h4>
           <ul>
              <li id="letter" class="invalid">At least <strong>one letter</strong></li>
              <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
              <li id="number" class="invalid">At least <strong>one number</strong></li>
              <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
           </ul>
        </div>

        <div class="card bg-light">
           <article class="card-body mx-auto" style="max-width: 400px;">
               {%  if(linksStatus==1) %}
              <h4 class="card-title mt-3 text-center">Password Reset</h4>
              <!-- 	<p class="text-center">Get started with your free account</p> -->
              <form action="../../Controller/UserResetPasswordController.php"  method="post" onsubmit="return Validation()" enctype="multipart/form-data">

                 <!-- form-group// -->
                 <div class="form-group input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email address" id="email" type="text"  value="{{ email }}" readonly>
                 </div>

                 <div class="form-group input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Create password" id="password" type="password">
                 </div>

                 <!-- form-group// -->
                 <div class="form-group input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="c_password" class="form-control" placeholder="Repeat password" id="c_password" type="password">
                 </div>

                 <!-- form-group// -->
                 <div class="form-group">
                    <button type="submit"  id="acc_btn" class="btn btn-primary btn-block"> Update  Account Password  </button>
                 </div>

                 <!-- form-group// -->
                 <p class="text-center">Have an account? <a href="/views/users/user-login.php">Log In</a> </p>
              </form>
            {% else %}
                <p class="text-center" style="color: red">Password Reset links is Expired</p>
            {% endif %}
           </article>
        </div>

<!-- card.// -->
{% endblock %}


{% block left_teaser %}
<h1>Index1</h1>
{% endblock %}

{% block footer %}
{% endblock %}
